/*
.palette i.color.red {background:#ff443c;}
.palette i.color.pink {background:#d5739a;}
.palette i.color.purple {background:#8a4e77;}
.palette i.color.blue {background:#36779d;}
.palette i.color.darkblue {background:#33339F;}
.palette i.color.skyblue {background:#56b2bd;}
.palette i.color.green {background:#6abc8b;}
.palette i.color.yellow {background:#ddd168;}
.palette i.color.orange {background:#ca5f19;}

*/
/*clearfix*/
.group {
  *zoom: 1;
}
.group:before,
.group:after {
  display: table;
  content: "";
  line-height: 0;
}
.group:after {
  clear: both;
}
/*/clearfix*/
.lightGallery {
  overflow: hidden!important;
}
#file-viewer img {
  border: none!important;
}
#file-viewer-container {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 1;
  -webkit-transition: padding-top 0.218s ease-out, opacity 0.35s ease;
  -moz-transition: padding-top 0.218s ease-out, opacity 0.35s ease;
  -o-transition: padding-top 0.218s ease-out, opacity 0.35s ease;
  -ms-transition: padding-top 0.218s ease-out, opacity 0.35s ease;
  transition: padding-top 0.218s ease-out, opacity 0.35s ease;
  background: transparent;
}
#file-viewer-container.zoomed {
  overflow-y: auto;
  padding-bottom: 0;
}
#file-viewer-container.zoomed #viewer-items {
  right: 0;
  bottom: 0px;
  height: auto;
  width: auto;
  -webkit-transition: none !important;
  transition: none !important;
}
#file-viewer-container.zoomed #file-viewer {
  min-height: 100%;
  margin-bottom: 20px;
}
#file-viewer-container.zoomed #viewer-items-wrap {
  margin-left: 0;
}
#file-viewer-container.zoomed .media-item-info .header,
#file-viewer-container.zoomed .media-item-info .details {
  display: none;
}
#file-viewer-container.zoomed .media-item-info .actions {
  left: 298px;
}
#file-viewer-container.zoomed #viewer-expander {
  left: 0;
}
#file-viewer-container.zoomed #viewer-expander:after {
  content: "\e66a";
}
#file-viewer-container.zoomed #viewer-controller {
  margin-left: -57px;
}
#file-viewer-container.thumb-open {
  padding-top: 137px;
}
#file-viewer-container.thumb-open .thumbnail-container {
  top: -117px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#file-viewer-container.thumb-open a.viewer-thumbnails:after {
  content: "\e64a";
}
/*lightGallery starting effects*/
#file-viewer.opacity {
  opacity: 1;
  transition: opacity 1s ease 0s;
  -moz-transition: opacity 1s ease 0s;
  -webkit-transition: opacity 1s ease 0s;
  -o-transition: opacity 1s ease 0s;
  -ms-transition: opacity 1s ease 0s;
}
/*#file-viewer.opacity .thumbnail-container {
	opacity: 1;
}*/
#file-viewer.fadeM {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s;
}
/*lightGallery starting effects*/
/*lightGallery core*/
#file-viewer {
  height: 100%;
  opacity: 0;
  position: relative;
  transition: opacity 1s ease 0s;
  -moz-transition: opacity 1s ease 0s;
  -webkit-transition: opacity 1s ease 0s;
  -o-transition: opacity 1s ease 0s;
  -ms-transition: opacity 1s ease 0s;
}
#file-viewer .media-item-info {
  position: absolute;
  top: 0px;
  left: -260px;
  width: 240px;
  text-align: left;
  padding: 15px;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
}
#file-viewer .media-item-info .file-icon {
  margin: 10px 0 30px;
  line-height: 1;
}
#file-viewer .media-item-info h2 {
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#file-viewer .media-item-info h2 > a {
  color: #212329;
}
#file-viewer .media-item-info .details {
  overflow: hidden;
  cursor: default;
  margin-top: 15px;
}
#file-viewer .media-item-info .details .details-row {
  vertical-align: baseline;
  font-size: 13px;
  margin-bottom: 5px;
}
#file-viewer .media-item-info .details .title {
  position: absolute;
  width: 70px;
  color: #8d95a2;
  display: inline;
  vertical-align: middle;
}
#file-viewer .media-item-info .details .value {
  white-space: pre-line;
  text-overflow: clip;
  width: 102px;
  word-wrap: break-word;
  margin-left: 78px;
  display: inline-block;
  vertical-align: baseline;
}
#file-viewer .media-item-info .actions {
  position: absolute;
  left: 303px;
  top: 22px;
}
#file-viewer .media-item-info .actions > a {
  display: inline-block;
  margin-right: 0px;
  font-size: 18px;
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
#viewer-items-wrap {
  margin-left: 260px;
  position: relative;
  height: 100%;
}
#viewer-items {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  white-space: nowrap;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
#viewer-items .viewer-item {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
}
#viewer-items .viewer-item:after {
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: tw-spinner 900ms infinite linear;
  animation: tw-spinner 900ms infinite linear;
  border: 1px solid #323232;
  border-left-color: #ececec;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -32px 0 0 -32px;
  content: "";
  z-index: -1;
}
#viewer-items .viewer-item.complete {
  background-image: none;
}
#viewer-items .viewer-item.complete:after {
  opacity: 0;
  filter: alpha(opacity=0);
}
#file-viewer.showAfterLoad .viewer-item > * {
  opacity: 0;
}
#file-viewer.showAfterLoad .viewer-item.complete > * {
  opacity: 1;
}
#viewer-items.slide .viewer-item,
#viewer-items.useLeft .viewer-item {
  position: absolute;
  opacity: 0.4;
}
#viewer-items.fadeM .viewer-item {
  position: absolute;
  left: 0;
  opacity: 0;
}
#viewer-items.animate .viewer-item {
  position: absolute;
  left: 0;
}
#viewer-items.fadeM .current {
  opacity: 1;
  z-index: 9;
}
#viewer-items .viewer-item:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#file-viewer.opacity .viewer-item .object {
  transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
}
.viewer-item .object {
  transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  -ms-transform: scale3d(0.5, 0.5, 0.5);
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -o-transform: scale3d(0.5, 0.5, 0.5);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
  -moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
  -o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
  -ms-transition: -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.5s ease 0s;
}
#file-viewer.fadeM .viewer-item .object {
  transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  -ms-transform: scale3d(0.5, 0.5, 0.5);
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -o-transform: scale3d(0.5, 0.5, 0.5);
}
#viewer-items.fadeM.on .current {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s;
}
#viewer-items.fadeM .viewer-item {
  transition: opacity 0.4s ease 0s;
  -moz-transition: opacity 0.4s ease 0s;
  -webkit-transition: opacity 0.4s ease 0s;
  -o-transition: opacity 0.4s ease 0s;
  -ms-transition: opacity 0.4s ease 0s;
}
#viewer-items.slide .viewer-item {
  transform: translate3d(100%, 0px, 0px);
  -moz-transform: translate3d(100%, 0px, 0px);
  -ms-transform: translate3d(100%, 0px, 0px);
  -webkit-transform: translate3d(100%, 0px, 0px);
  -o-transform: translate3d(100%, 0px, 0px);
}
#viewer-items.slide.on .viewer-item {
  opacity: 0;
}
#viewer-items.slide .viewer-item.current {
  opacity: 1 !important;
  transform: translate3d(0px, 0px, 0px) !important;
  -moz-transform: translate3d(0px, 0px, 0px) !important;
  -ms-transform: translate3d(0px, 0px, 0px) !important;
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
  -o-transform: translate3d(0px, 0px, 0px) !important;
}
#viewer-items.slide .viewer-item.prevSlide {
  opacity: 0;
  transform: translate3d(-100%, 0px, 0px);
  -moz-transform: translate3d(-100%, 0px, 0px);
  -ms-transform: translate3d(-100%, 0px, 0px);
  -webkit-transform: translate3d(-100%, 0px, 0px);
  -o-transform: translate3d(-100%, 0px, 0px);
}
#viewer-items.slide .viewer-item.nextSlide {
  opacity: 0;
  transform: translate3d(100%, 0px, 0px);
  -moz-transform: translate3d(100%, 0px, 0px);
  -ms-transform: translate3d(100%, 0px, 0px);
  -webkit-transform: translate3d(100%, 0px, 0px);
  -o-transform: translate3d(100%, 0px, 0px);
}
#viewer-items.useLeft .viewer-item {
  left: 100%;
}
#viewer-items.useLeft.on .viewer-item {
  opacity: 0;
}
#viewer-items.useLeft .viewer-item.current {
  opacity: 1 !important;
  left: 0% !important;
}
#viewer-items.useLeft .viewer-item.prevSlide {
  opacity: 0;
  left: -100%;
}
#viewer-items.useLeft .viewer-item.nextSlide {
  opacity: 0;
  left: 100%;
}
#viewer-items.slide.on .viewer-item,
#viewer-items.slide.on .current,
#viewer-items.slide.on .prevSlide,
#viewer-items.slide.on .nextSlide {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  -moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  -o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  -ms-transition: -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
}
#viewer-items.speed .viewer-item,
#viewer-items.speed .current,
#viewer-items.speed .prevSlide,
#viewer-items.speed .nextSlide {
  transition-duration: inherit !important;
  -moz-transition-duration: inherit !important;
  -webkit-transition-duration: inherit !important;
  -o-transition-duration: inherit !important;
  -ms-transition-duration: inherit !important;
}
#viewer-items.timing .viewer-item,
#viewer-items.timing .current,
#viewer-items.timing .prevSlide,
#viewer-items.timing .nextSlide {
  transition-timing-function: inherit !important;
  -moz-transition-timing-function: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  -o-transition-timing-function: inherit !important;
  -ms-transition-timing-function: inherit !important;
}
#viewer-items .viewer-item > img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  cursor: -moz-grabbing;
  margin: 0;
  padding: 80px 35px 35px;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#file-viewer-container .viewer-item > img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
#file-viewer-container.zoomed .viewer-item > img {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
#file-viewer .thumbnail-container .thumbnails {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  -moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  -o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  -ms-transition: -ms-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
}
@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
.viewer-item .object.rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}
.viewer-item .object.leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}
/*lightGallery core*/
/*action*/
#viewer-controller {
  top: 22px;
  position: absolute;
  left: 50%;
  width: 114px;
  margin-left: 73px;
  z-index: 9;
  -webkit-backface-visibility: hidden;
}
/*#viewer-controller.hasThumb {
	margin-left: -46px;
}
*/
#viewer-controller a {
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  font-size: 18px;
  width: 32px;
  margin: 0 3px;
  height: 32px;
  cursor: pointer;
  position: relative;
}
#viewer-controller a.disabled,
#viewer-controller a.disabled:hover {
  opacity: 0.55;
  filter: alpha(opacity=55.00000000000001);
  cursor: default;
}
#viewer-controller a#viewer-item-previous:after,
#viewer-controller a#viewer-item-next:after,
#viewer-controller a.viewer-thumbnails:after {
  position: absolute;
  left: 8px;
  top: 8px;
  height: 16px;
  width: 16px;
  display: inline-block;
  font-family: 'TM Glyphicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
#viewer-controller a#viewer-item-previous:after {
  content: "\e663";
}
#viewer-controller a.viewer-thumbnails:after {
  content: "\e664";
}
#viewer-controller a#viewer-item-next:after {
  content: "\e665";
}
/*action*/
/*counter*/
#lightGallery_counter {
  bottom: 52px;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 9;
  color: #FFFFFF;
}
/*lightGallery Thumb*/
#file-viewer .thumbnail-container {
  position: absolute;
  top: 0px;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-transition: all 0.518s ease-out;
  transition: all 0.518s ease-out;
  z-index: -1;
  height: 83px;
  opacity: 0;
}
#file-viewer .thumbnail-container .thumbnails {
  padding: 0 15px;
  max-height: 87px;
  overflow-y: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#file-viewer .thumbnail-container .thumbnails .thumbnail-wrap {
  padding-bottom: 0;
}
#file-viewer .thumbnail-container .thumbnails .thumb-default {
  padding-bottom: 75%;
}
#file-viewer .thumbnail-container .thumbnail-header {
  background-color: #333;
  padding: 7px 20px;
  display: none;
}
#file-viewer .thumbnail-container .thumbnail-header .count {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}
#file-viewer .thumbnail-container .thumbnail-header .close {
  color: #FFFFFF;
  display: block;
  float: right !important;
  width: 28px;
  position: relative;
  height: 28px;
  border-radius: 2px;
  margin-top: -4px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  z-index: 1090;
  cursor: pointer;
}
#file-viewer .thumbnail-container .thumbnail-header .close i:after {
  left: 6px;
  position: absolute;
  top: 4px;
}
#file-viewer .thumbnail-container .thumbnail-header .close i:after {
  content: "\e01a";
  font-family: 'Slide-icons';
  font-style: normal;
  font-size: 16px;
}
#file-viewer .thumbnail-container .thumbnail-header .close:hover {
  text-decoration: none;
  background-color: #000;
  background-color: #000000;
}
#file-viewer .thumbnail-container .thumb {
  /*display: inline-block !important;
	vertical-align: middle;
	text-align: center;
	*display: inline;
  	*zoom: 1;
	margin-bottom: 4px;
	height: 50px;
	width: 50px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	overflow: hidden;
	border-radius: 3px;
	cursor: pointer;
	*/
  border: 2px solid transparent;
  -webkit-transition: border-color 0.218s linear;
  transition: border-color 0.218s linear;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}
#file-viewer .thumbnail-container .thumb > img {
  height: auto;
  max-width: 100%;
}
#file-viewer .thumbnail-container .thumb.active,
#file-viewer .thumbnail-container .thumb:hover {
  border-color: #3073d1;
}
/*lightGallery Thumb*/
/*lightGallery Video*/
#viewer-items .video_cont {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#viewer-items .video_cont {
  background-color: white;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#viewer-items .video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#viewer-items .video .object {
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 0;
  left: 0;
}
/*lightGallery Video*/
/*lightGallery Close*/
#viewer-close {
  height: 32px;
  position: absolute;
  right: 27px;
  top: 22px;
  width: 32px;
  z-index: 1090;
  cursor: pointer;
}
#viewer-close:after {
  position: absolute;
  left: 8px;
  top: 8px;
  height: 16px;
  width: 16px;
  display: inline-block;
  font-family: 'TM Glyphicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e647";
  font-size: 18px;
}
/**/
/*lightGallery Expander*/
#viewer-expander {
  height: 42px;
  position: absolute;
  left: 260px;
  top: 0px;
  width: 42px;
  overflow: hidden;
  z-index: 1090;
  cursor: pointer;
  background-color: transparent;
}
#viewer-expander:before {
  content: "";
  background-color: #e0e7ef;
  width: 32px;
  height: 60px;
  position: absolute;
  left: -6px;
  top: -20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#viewer-expander:after {
  width: 16px;
  height: 16px;
  color: #383d45;
  position: absolute;
  left: 3px;
  top: 3px;
  display: block;
  font-family: 'TM Glyphicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e66b";
  font-size: 16px;
}
/**/
.customHtml {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
  color: #fff;
  font-family: Arial, sans-serif;
  height: 70px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
.customHtml p {
  font-size: 14px;
}
.customHtml > h4 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}
#content-pane {
  background-color: #FFF !important;
}